html, body, p, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

* {
    box-sizing: border-box;
    outline-color: #448aff;
}

body {
    font-family: 'Google Sans', Roboto, system-ui, PingFang SC, STHeiti, Arial, sans-serif;
    text-size-adjust: 100%;
    font-size: 14px;
    background: #F6F7F9;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: #5f6368;
}

a:hover {
    color: #1a73e8;
}

@font-face {
    font-family: "iconTabs";
    src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAmQAAsAAAAAEdQAAAlAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCFAAqTZI9RATYCJANICyYABCAFhG0HgTkb0A5RlHBSO9nPgtycXAUnB5TTzH73b58ODdVvKfQp9RNu+u9yCVqlZqEmjLrAROlMkSAtEBrSdvPMxPiiMzW+iIQA/t7d+8sSCCyaHGAerQEa6QIp0g20Bq4hvWrmzjMLZ19y9Q4e9DRJ+UmrxYnJCxg8WjXl9Uc/6Nf/W2t1d+8uIpaI4o1Ht1QocWb3kLn5Jx8Ta+KJxKNkQjoRbYg2CJlOypTYMRhd3dQLtXIL+OIDBEAhUS5U0/caADIkpkPYNXDYjCBzdSEj8hCZQSLwmwSiJUCRRXOJqwCwWP95dIOCIAMgUDEwt/1aOgvUHW3+GVgQBRihCqAtbgAA3gIBYAC5AEiAFsKhTYBNlqtzhWgjiQMQwiPDwO/yt/l5f6d/nH+Cf4YoAhQ+wvq9Pmn6UVIfCRGPljwAEIx/4IUKEkgpAImCSUjJyCkgBEAZMB4AzdPlUOC3ybUgGPjtCCG/4IASDS1ACAK0AiEQ4ASCEuACQgCABQIJ8ACBArRBmW7wAkFCgQeCFNAJBBlgHBDkgAlAUACmAwEBZmAQCIyrVD+pANIA8QdkCtBbdCPBOVqQWiJiNTblFORvkOeGRyQnhwekkAPSotPkcoWCQplhMWFyUkGSAbE9Arw2UMYBMCls6dC/WkYQoTAMVcRLCUS7A+ObmbkDopKgD93d0qF3WoHhr2dM7riSbR0mmEKp6r8bnBvKqMy5Fjzv0TacclUIJf92UHEEF4TSuc+4qnqT2U9F0cRvjfMzKMOjD2sv2Th8XSxhebwNKcl1DESmC6HhImTaAPQVCLX53UsNabdnpXc6mloajKpfsx12Lr3Saf093C6t9goHVf6ryEnG5j1X1yv0h0zY39cn/yPzf6r4v9eTpHoxIhhxWfRu4otf0bkXgDKq/vGQ22+fNmQ+mEmV1zLAiLgNW5cpZlxk8nkqQ86tQ2bKpjLg3EvQ2c1u7uembD3tMMUacqEmlesc4onlQF+JseVB+JGlW4Pubt3oViyE5BnE7ACE0IEipg/LjQCH23vRAwq9oH3LGtmi6GsxoLRXaeQ60+8Od9gq7TDtuJzIhtVJ9JRsmxlVKXYNSaNd5gqYE0aQKVlX+IRCJWHjWMj8kF1jg8AxJbVfJ8Vvf+9TSjwjFTPjRHAG4E71BAnBerHkJesF4NrxxB64ffL0LAL0+ZeeGaToQt23HSBXm98IwrZnveu/T7n5tZf+hKBkhnUVRKtEN8fMMARCsDpugCEEMYlLYmQmdQ6OzCkTPmsfhKXY84qFzK5a0pFdyDtpXCJ8HKI4TorKtp1RP8hAX5F6YepdF0K+TLbdDFddT9L4YLyEKwnN89LKZw0anvTa0jkOALZU85w0Uxw7JTNUa7okwhVixnwp+krw/VPwXlY6v3CAbtyAwPcdZpUuUTHFGO4H2WzQQv+mXFZKcLkzZKnL9+6QzlT+KISwUJq0onfey79Gftt9Qu25AqpNunBFUl6foM3vrq+snVBwto2KrLyyT+5N+ch/i2rO5lfq/f9ldn1HePlnQbsWmmBK9ezdyRU6mBLt2EEo32LlH9b7eup66G4d+lu0lJiyY0fkGz2lO+t7/S/iwNCxG+ClQz/HNsSmv9kMtg4yIO71/1AdgpOwT/ul4pnipaxfopv9UuvDScpZncWWEAvZMGuXa9fciCDmoZ6XfrpsX8O+v35SZcsbrG6/Pz2cUGxXu6yqILbRs+edfX+IVlbuegqhg8nVu2enVDSB0MTIN/uAjoVHFE2TD6mHavoB+YhMoqlHpP0FZctUIC8nNxzVlbwM7bPu2bD+Xx90F+Afqixxhhvv0jYoF8zTl5Q3yIeFaB0mowlq3h/3a1Y3Bo3q6HlRoT26JhCTylN67xC5ZF/Lz511yZv2auSrX+4dEvCIShIHrjmqVfS8OKqjMahZrf4r/TNwRTGLVYC+ocEXXjck9aIgnSOlZZNw0TFRF+5rEHoG1RivKB7452AVS0E1R5VNND5d9pQSdd2Yrl0lPonSOcZnbsxWjY3ygUq4H60dOfKKeq36qMbXJqICi1BcWBgl9uotasTdjFJqN8xrRvOoULsKtmg+wElxwjNZfGdcEv7AoomUPXtR+1I2UKgTBspeQlU0TcwUO9qVNEaMOHO6cOn7Z86WVJw+U1oJBflnn62XGupvnZLDitJA0SH3y1SkIYYvHeckXMSSceaTrKcFs5SXWIQmwSLhpebYgdmkL+tIePbVZIi///jjvwHq5DxulV6foe9Z90ojWg8npgi1J0A8IYBQd1IknhRq/lCAYuPLVy8LzfrwdRlrtQu0azPWhccWygJDA/k1S74yqpmw8DXRa5SNTPKYr5as4UVpQ+m0YoDWMipK3drTMPCn7QO0roYok3zD1Eq2deoGucnh3jVAa/5J6WlQt0aNsgzQKnX8PGOv96PGoUMbEYh6AzXaliFhfBIAxHv4fZyjr9tJlmBBZJZPklNxHYAokIAniMyH7+NBAAC4TnwEIH6Mb+J+j5Yf4enYMCTgk0kJ8n6KjSuL8TPcdnu1Do/3Hf5nwVW/yZQksNmna9/8SlCsGmlqD8jOf4Z+lZspJkKEUPtvG2OqvxEggyzbYpE2XdF1KM1iAPuURCm0RGUQvEAAUPA7AGI1fZ5XrY9IrL2L6yPsMoJUQhkmkyqSmtwyilJRmYRMbZlCjq6BlcJwMJTIASDbzEcZEuKjMkKQEwyLNNcYCc2zMkqk7zokyAq4TGFQCAtTKT04FI0cY+QZC20aRzvMrNsqdfIKw9kAo8nbzNjanUbO2aY7G8RwXgfrpvM1Wu9qV8bNcEV48HbYCnjeSls51kXrc0uMcTpZ2sOxLYyZ19h53lPRpYtV5FFjZl2g0IjDMOLVqhY0k3F1HcxYbtYxnsLneQAjE69mDJt2zrfruYhjsTQIgxPJb/en5dPQJhC7cneiY5uy0auDTQHN41kHrLifFReavnEEzPm2xKJ5xLZaMMx4GvYMCx4VuvDrrEm5pnq9a+5zmH0nsohUgUAYkYhCEiRFMiRHCvRsGj0KREEoGIWgUKRCYSBpjvWwHC9xuLR5bDW6A+XgHSzn4Jk8p8PNkHbWxci8T0naGadHZja63UaTw0uyHsYt4RgX28FgEzuWZCwOXtLudrLmVlKJjuI5o9dO8qzHI/UyPO9w2wAAAAAA') format('woff2');
}

.icon {
    font-family: "iconTabs", serif !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-export:before {
    content: "\e683";
}

.icon-import:before {
    content: "\e684";
}

.icon-fan:before {
    content: "\e671";
}

.icon-favorite-line:before {
    content: "\e66f";
}

.icon-home:before {
    content: "\e670";
}

.icon-favorite:before {
    content: "\e673";
}

.icon-help:before {
    content: "\e674";
}

.icon-cannabis:before {
    content: "\e677";
}

.icon-open:before {
    content: "\e679";
}

.icon-remove:before {
    content: "\e67b";
}

.icon-box:before {
    content: "\e66c";
}

.icon-edit:before {
    content: "\e66d";
}

.icon-unlock:before {
    content: "\e66b";
}

.icon-lock:before {
    content: "\e66a";
}

.icon-trash:before {
    content: "\e667";
}

.icon-topp:before {
    content: "\e668";
}

.icon-setting:before {
    content: "\e669";
}

.fx:after, .card_title:after {
    display: block;
    content: '';
    clear: both;
}

.header {
    display: flex;
    z-index: 1;
    top: 0;
    position: sticky;
    background: #F6F7F9;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

.header_inner {
    width: 100%;
    max-width: 1000px;
    margin: 2px auto;
}

.header_inner .logo {
    float: left;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.header_inner .logo a {
    display: block;
    color: #bfbfbf;
    text-shadow: -1px -1px white, 1px 1px #333;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: x-large;
    line-height: 1.75rem;
}

.header_inner .logo .icon {
    font-size: 1.75rem;
    color: #0953FF;
    display: inline-block;
    margin-right: 5px;
}

.header_inner .nav {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 3px 10px 0;
}

.header_inner .nav li {
    margin-left: 20px;
}

.header_inner .nav li:hover {
    color: #1a73e8;
}

.header_inner .nav li .icon {
    margin-right: 5px;
}

.header_inner .nav li a {
    cursor: pointer;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
}

.tab_cards {
    background: #FFFFFF;
    border: 1px solid #CCCFD0;
    border-radius: 10px;
    margin-top: 20px;
}

.tab_cards:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
}

.card_title {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #CCCFD0;
}

.card_title span {
    float: left;
    display: inline-block;
    line-height: 1;
}

.card_title .extra {
    display: none;
}

.card_title:hover .extra {
    display: block;
}

.card_title .item_title {
    color: #18191B;
    font-size: 18px;
    word-break: break-all;
    max-width: 320px;
    margin-right: 20px;
    padding: 4px 2px;
    border-radius: 10px;
}

.card_title .item_num {
    color: #b1b1b1;
}

.card_title .dmx_button {
    margin-left: 10px;
}

.card_title > span.icon {
    margin-right: 5px;
    font-size: 19px;
}

.dmx_button {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    background: #fff;
    color: #606266;
    line-height: 1;
    padding: 6px 10px;
    font-size: 15px;
    white-space: nowrap;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    transition: .1s;
    opacity: .7;
}

.dmx_button:hover {
    opacity: 1;
    box-shadow: 2px 2px 5px 0 #d0d7de;
}

.dmx_button:active {
    opacity: 1;
}

.dmx_button .icon {
    margin-right: 5px;
}

.dmx_button_default {
    background: #4395ff;
    border: 1px solid #3589ff;
    color: #fff;
}

.card_items {
    padding: 15px;
}

.card_items .item {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1.8;
}

.card_items .item img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.card_items .item .item_remove {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 10px;
    padding: 3px 6px;
    border-color: #b1b1b1;
}

.card_items .item:hover {
    background-color: #f8f9fa;
}

.card_items .item:hover .item_remove {
    display: block;
}

.card_items.drag .item .item_remove {
    display: none;
}

.icon-favorite {
    color: #ff000b;
}
